  {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light header-navbar navbar-fixed">
        <div class="container-fluid navbar-wrapper">
            <div class="navbar-header d-flex">
                <div class="navbar-toggle menu-toggle d-xl-none d-block float-left align-items-center justify-content-center" data-toggle="collapse"><i class="ft-menu font-medium-3"></i></div>

                <div class="navbar-brand-center">
                    <div class="navbar-header">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <div class="logo"><a class="logo-text" href="{% url 'home' %}">
                                        <div class="logo-img"><img class="logo-img" alt="Apex logo" src="{% static 'app-assets/img/logo.png' %}"></div><span class="text">Charles Wilson</span>
                                    </a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </nav>
